{% extends 'base.html' %}
{% load static %}
{% block title %} Update Article {% endblock %}
{% block content %}
<div class="container">
    <h1>Update Article</h1>
    <form method="post" enctype="multipart/form-data">  <!-- Add enctype for file uploads -->
        {% csrf_token %}
        <table class="table">

            <tr>
                <td><label for="id_head">Head:</label></td>
                <td>{{ form.head }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td><label for="id_description">Description:</label></td>
                <td>{{ form.description }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td><label for="id_images">Image:</label></td>
                <td>{{ form.images }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{% url 'article_detail' article_id=article.id %}" class="btn btn-primary">Cancel</a>
                </td>
            </tr>
            <tr></tr>
        </table>
    </form>
</div>
{% endblock %}
